<% require_locals ['item', 'f'], local_assigns %>

<%
  # passed in variables
  file_name   ||= :file
  the_file      = item.send(file_name)
  file_label  ||= file_name.to_s.humanize
  helper_text  ||= ""
  required     ||= false
%>

<%= f.simple_fields_for file_name do |i| %>
  <div class='input field'>
    <%= content_tag :label, class: ('required' if required) do  %>
      <%= content_tag :abbr, '*', title: 'required' if required %>
      <%= file_label.html_safe %>
      <%= content_tag :h6, helper_text, class: 'helper_text' if helper_text.present? %>
    <% end %>

    <% if the_file.asset.present? %>
      <div class='asset-actions asset-actions--files'>
        <%= link_to 'Replace File', fae.delete_file_path(the_file.id), class: 'file_input-button js-asset-delete-link', remote: true, method: :delete, defaults: { confirm: 'Are you sure?' } %>
        <%= link_to the_file.asset.file.filename, the_file.asset.url, target: '_blank'  %>
      </div>
    <% end %>
    <div class='asset-inputs' style= <%='display:none;' unless the_file.asset.blank? %> >
      <%= i.input :asset, as: :file, label: false %>
      <%= i.input :asset_cache, as: :hidden %>
      <%= i.hidden_field :required, value: required %>
    </div>
  </div>
<% end %>