<header id="main_header">
  <span class="icon-menu" id="main_nav-menu_button"></span>
  <h1 class="main_header-name">
    <%= link_to root_path do %>
      <%= @option.title %>
      <span class="main_header-name-fine">a FINE admin</span>
    <% end %>
  </h1>

  <% if user_signed_in? %>
    <ul class="utility_nav">
      <% li_class = @option.stage_url.present? ? 'utility_nav-view' : '' %>
      <%= content_tag :li, class: li_class do %>
        <%= link_to @option.live_url do %>
          View Site
          <span class="icon-offlink"></span>
        <% end %>
        <% if @option.stage_url.present? %>
          <ul class="utility_sub_nav">
            <li><%= link_to 'Live Site',  @option.live_url  %></li>
            <li><%= link_to 'Stage Site', @option.stage_url %></li>
          </ul>
        <% end %>
      <% end %>
      <li class="utility_nav-user">
        <%= link_to "#" do %>
          <%= current_user.full_name %>
          <span class="icon-user"></span>
          <span class="icon-arrow_down"></span>
        <% end %>
        <ul class="utility_sub_nav">
          <li><%= link_to "Log Out", fae.destroy_user_session_path %></li>
          <li><%= link_to "Your Settings", fae.settings_path %></li>
        </ul>
      </li>

    </ul>
  <% end %>
</header>