<header id="main_header">
  <span class="icon-menu" id="main_nav-menu_button"></span>
  <h1 class="main_header-name">
    <%= link_to root_path do %>
      <%= Fae.title %>
      <span class="main_header-name-fine">a FINE admin</span>
    <% end %>
  </h1>

  <% if user_signed_in? %>
    <ul class="utility_nav">
      <li class="utility_nav-view">
        <%= link_to "#" do %>
          View Site
          <span class="icon-offlink"></span>
        <% end %>
        <ul class="utility_sub_nav">
          <li><%= link_to "Stage Site", Fae.stage_url %></li>
          <li><%= link_to "Live Site", Fae.live_url %></li>
        </ul>
      </li>
      <% if Fae.support_url.present? %>
        <li class="utility_nav-support">
          <%= link_to Fae.support_url do %>
            Support
            <span class="icon-support"></span>
          <% end %>
        </li>
      <% end %>
      <li class="utility_nav-user">
        <%= link_to "#" do %>
          <%= current_user.full_name %>
          <span class="icon-user"></span>
          <span class="icon-arrow_down"></span>
        <% end %>
        <ul class="utility_sub_nav">
          <li><%= link_to "Log Out", fae.destroy_user_session_path %></li>
          <li><%= link_to "Your Settings", fae.settings_path %></li>
        </ul>
      </li>

    </ul>
  <% end %>
</header>