<nav id="main_nav">
  <ul class="main_nav-nav">
    <%
      @fae_nav_items.each do |item|
        main_class = nav_path_current?(item[:path]) ? "main_nav-active-single" : ""

        main_sub_class = ""
        hasSublinks = item[:sublinks].present? ? true : false

        # Apply the active state if user is on the page.
        if hasSublinks
          # must find out if a sublink is selected as well
          item[:sublinks].each do |subitem|
            # fail if subitem[:text] = 'selling points'
            main_class = "main_nav-active" if nav_path_current?(subitem[:path])
          end

          # if the main LI has sublinks, we need to add main_nav-accordion to that LI for accordion action
          # main_nav-active items do not get an accordion class
          main_class = "main_nav-accordion" if main_class.blank?
        end

        if item[:class_name].present?
          main_class << " #{item[:class_name]}"
        end
    %>
      <%= content_tag :li, class: main_class do %>
        <%= content_tag :span, class: "main_nav-header", data: {link: item[:path]} do %>
          <span class="header_drawer-content-post"><%= link_to item[:text], item[:path], class: "main_nav-link" %></span>

          <%
            header_drawer_class = "header_drawer-content"
            header_drawer_class << " header_drawer-content-only" if !hasSublinks
          %>
          <%= content_tag :span, item[:text], class: header_drawer_class %>
        <% end %>

        <% if hasSublinks %>
          <ul class="main_nav-sub-nav">
            <li class="main_nav-sub-header-mobile"><span><%= item[:text] %></span></li>
            <%
              item[:sublinks].each do |subitem|
                # if the current page is the same as one of these nav items
                main_sub_class = nav_path_current?(subitem[:path]) ? "main_nav-sub-active" : ""
            %>
              <%= content_tag :li, class: main_sub_class do %>
                <%= link_to subitem[:text], subitem[:path], class: "main_nav-sub-link" %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <li class="main_nav-header-mobile">
        <span class="header_drawer-content-username"><%= current_user.full_name %></span>
      </li>
      <li class="main_nav-header-mobile">
        <%= link_to "Log Out", fae.destroy_user_session_path, class: "header_drawer-content header_drawer-content-logout" %>
      </li>
      <li class="main_nav-header-mobile">
        <%= link_to "Your Settings", fae.settings_path, class: "header_drawer-content header_drawer-content-settings" %>
      </li>
      <li class="main_nav-header-mobile">
        <%= link_to 'Help', fae.help_path, class: 'header_drawer-content' %>
      </li>

      <li class="main_nav-header-mobile">
        <span class="main_nav-header">
          <span class="header_drawer-content header_drawer-content-viewsite">View Site</span>
        </span>

        <ul class="main_nav-sub-nav">
          <li class="main_nav-sub-header-mobile"><span>View Site</span></li>
          <li><%= link_to "Preview Site", @option.stage_url, class: "main_nav-sub-link" %></li>
          <li><%= link_to "Live Site", @option.live_url, class: "main_nav-sub-link" %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
