<%
require_locals(['assoc', 'parent_item'], local_assigns)
# assoc: required name of parent item's association, ex: :restaurant_bars
# parent_item: parent object
# items: ActiveRecord object of items assoicated to parent odject
assoc_name          ||= assoc.to_s                      # 'restaurant_bars'
assoc_name_singular ||= assoc_name.singularize          # 'restaurant_bar'
title               ||= assoc_name.humanize             # 'Restaurant Bars'
title_singular      ||= assoc_name_singular.humanize    # 'Restaurant Bar'
new_path            ||= "new_#{fae_path}_#{assoc_name_singular}_path"
edit_path           ||= "edit_#{fae_path}_#{assoc_name_singular}_path"

ordered             ||= false
has_thumb           ||= false
cols                ||= []
colspan = cols.length + 1
colspan += 1 if ordered
colspan += 1 if has_thumb
table_class = ordered ? 'main_content-sortable index_table' : 'index_table'
%>

<section class="js-addedit-form">

  <%= link_to "Add #{title_singular}", self.send(new_path, item_id: parent_item.id, item_class: parent_item.class.to_s), class: 'js-add-link table-add-link' %>
  <%= content_tag :h3, title %>

  <%= render 'fae/application/flash_messages' %>

  <%= content_tag :table, class: table_class do %>
    <thead>
      <tr>
        <%= content_tag :th, '', class: "main_content-sortable-handle-col" if ordered %>
        <%= content_tag :th, '', class: "main_content-thumb-col" if has_thumb %>

        <% cols.each do |col| %>
          <% th_class = [:on_prod, :on_stage].include?(col) ? 'main_table-header-live' : '' %>
          <%= content_tag :th, col.to_s.humanize, class: th_class %>
        <% end %>
        <th class="main_table-header-delete">Delete</th>
      </tr>
    </thead>

    <tbody>
      <% if parent_item.send(assoc).present? %>
        <% parent_item.send(assoc).each do |item| %>
          <%= content_tag :tr, id: "#{item.class.name.underscore.pluralize}_#{item.id}" do %>

            <% if ordered %>
              <td class="main_content-sortable-handle">
                <span class="icon-sort"></span>
              </td>
            <% end %>

            <%= content_tag :td, image_tag(item.asset.thumb.url) if has_thumb  %>

            <% cols.each do |col| %>
              <% if col === cols.first %>
                <td class="main_table-description-item"><%= link_to item.send(col), self.send(edit_path, item), class: 'js-edit-link' %></td>
              <% elsif item.class.columns_hash[col.to_s].type === :boolean %>
                <td><%= attr_toggle item, col %></td>
              <% else %>
                <%= content_tag :td, item.send(col) %>
              <% end %>
            <% end %>

            <td class="main_table-delete">
              <%= link_to '', "/#{fae_path}/#{assoc_name}/#{item.id.to_s}", method: :delete, defaults: { confirm: 'Are you sure?' }, class: 'js-delete-link icon-delete_x', remote: true %>
            </td>

          <% end %>
        <% end %>
      <% else %>
        <tr>
          <% td_link = link_to "add some", self.send(new_path, item_id: parent_item.id, item_class: parent_item.class.to_s), class: 'js-add-link' %>
          <% td_content = "No #{title} yet, #{td_link}." %>
          <%= content_tag :td, td_content.html_safe, colspan: colspan.to_s %>
        </tr>
      <% end %>
    </tbody>
  <% end %>

  <div class="js-addedit-form-wrapper"></div>

</section>