<%= simple_form_for(@user, html: {multipart: true, novalidate: true}) do |f| %>
  <section class="main_content-header">
    <div class="main_content-header-wrapper">

      <nav class="main_content-breadcrumbs">
        <ul class="breadcrumbs">
          <% if current_user.super_admin? %>
            <li><%= link_to "All Users", users_path %></li>
          <% end %>
        </ul>
      </nav>

      <% if params[:action] === 'settings' %>
        <%= content_tag :h1, "Your Settings" %>
      <% else %>
        <%= form_header @user %>
      <% end %>

      <div class="main_content-header-save">
        <%= link_to "Cancel", users_path(cancelled: true), id: "main_content-header-save-cancel" %>
        <%= f.submit "Save Settings" %>
      </div>
    </div>
  </section>

<div class="main_content-section">
  <section class="main_content-section">
    <div class="main_content-section-area">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.association :role, collection: @role_collection if current_user.admin? || current_user.super_admin? %>
    </div>
  </section>
</div>
<% end %>