<section class="main_content-header">
  <div class="main_content-header-wrapper">
    <h1>Users</h1>

    <div class="main_content-header-save">
      <%= link_to 'New User', new_user_path, class: "add-button" %>
    </div>
  </div>
</section>

<%= render 'flash_messages' %>

<div class="main_content-sections">
  <section class="main_content-section">
    <div class="main_content-section-area">
      <table class="main_table-sort_columns">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Last Logged In</th>
            <th class="main_table-header-live" data-sorter="false">Active</th>
            <th data-sorter="false"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr id="fae_user_<%= user.id %>">
              <td class="main_table-description-item"><%= link_to "#{user.first_name} #{user.last_name}", edit_user_path(user) %></td>
              <td><%= user.email %></td>
              <td><%= user.last_sign_in_at %></td>
              <td><%= attr_toggle user, :active %></td></td>
              <td class="main_table-delete">
                <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'main_table-action' do %>
                  <span class="icon-delete_x"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>