<%= simple_form_for(@role) do |f| %>
  <section class="main_content-header">
    <div class="main_content-header-wrapper">
      <nav class="main_content-breadcrumbs">
        <ul class="breadcrumbs">
          <li><%= link_to "All Roles", roles_path %></li>
        </ul>
      </nav>

      <%= form_header @role %>

      <div class="main_content-header-save">
        <%= link_to "Cancel", roles_path, id: "main_content-header-save-cancel" %>
        <%= f.submit "Save Settings" %>
      </div>
    </div>
  </section>

  <div class="main_content-section">
    <section class="main_content-section">
      <div class="main_content-section-area">
        <%= f.input :name %>
      </div>
    </section>
  </div>
<% end %>
