<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= stylesheet_link_tag    'fae/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<header class="main-header" id="js-main-header">
  <h1>
    <%= link_to root_path do %>
      The Fae Dummy
      <span>a FINE admin</span>
    <% end %>
  </h1>
</header>

<section id="dummy_content">
  <%= yield %>
</section>

</body>
</html>
