<%= simple_form_for(['admin', @item]) do |f| %>
  <header class="content-header js-content-header">
    <%= render 'fae/shared/form_header', header: @klass_name %>
  </header>

  <section class="content">
    <%= fae_input f, :name, {helper_text: "this is some helper text"} %>
    <%= fae_input f, :on_prod, disabled: true %>

    <%= fae_image_form f, :image %>
  </section>
<% end %>
