<%= render 'fae/shared/index_header', title: "#{@klass_humanized.pluralize}" %>


<div class="main_content-sections">
  <section class="main_content-section">
    <div class="content">
      <table class="main_content-sortable">
        <thead>
          <tr>
            <th class="main_content-sortable-handle-col"></th>
            <th>Name</th>
            <th class="-thumb">Image</th>
            <th class="-action-wide">Modified</th>
            <th class="-action" data-sorter="false"></th>
            <th class="-action" data-sorter="false"></th>
            <th class="-action" data-sorter="false"></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr id="<%= "#{@klass_singular}_#{item.id}" %>">
              <td class="main_content-sortable-handle">
                <span class="icon-sort"></span>
              </td>
              <td><%= link_to item.name, edit_admin_person_path(item.id) %></td>
              <td><%= image_tag item.image.asset.thumb.url if item.image.present? %></td>
              <td><%= fae_date_format item.updated_at %></td>
              <td><%= fae_toggle item, :on_stage %></td>
              <td><%= fae_toggle item, :on_prod %></td>
              <td class="-action"><%= fae_delete_button item %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>