<%= render 'fae/shared/index_header', title: 'People' %>


<div class="main_content-sections">
  <section class="main_content-section">
    <div class="main_content-section-area">
      <table class="main_content-sortable">
        <thead>
          <tr>
            <th class="main_content-sortable-handle-col"></th>
            <th class="main_content-thumb-col">Image</th>
            <th class="main_table-header-description">Alt Text</th>
            <th>File Name</th>
            <th class="main_table-header-modified">Modified</th>
            <th class="main_table-header-modified">Pub. Date</th>
            <th class="main_table-header-live" data-sorter="false">On Stage</th>
            <th class="main_table-header-live" data-sorter="false">On Prod</th>
            <th class="main_table-header-edit" data-sorter="false">Edit</th>
            <th class="main_table-header-delete">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="main_content-sortable-handle">
                <span class="icon-sort"></span>
              </td>
              <td class="main_table-image"><%= image_tag item.image.asset.thumb.url if item.image.present? %></td>
              <td class="main_table-description-item"><%= link_to item.image.alt, "#"  if item.image.present? %></td>
              <td><%= item.image.asset.current_path.split('/').last if item.image.present? %></td>
              <td class="main_table-modified"><%#= fae_date_format item.updated_at %><%= item.updated_at %></td>
              <td class="main_table-modified">PUBLISHED AT HERE</td>
              <td><%= attr_toggle item, :on_stage %></td>
              <td><%= attr_toggle item, :on_prod %></td>
              <td class="main_table-edit">
                <%= link_to edit_admin_person_path(item.id), class: "main_table-action" do %>
                  <span class="icon-edit"></span>
                <% end %>
              </td>
              <td class="main_table-delete">
                <%= link_to ['admin', item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'main_table-action' do %>
                  <span class="icon-delete_x"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>