<%= render 'fae/shared/index_header', title: 'Need some help?', new_button: false %>

<div class="main_content-sections">
  <section class="main_content-section help-section">
    <div class="main_content-section-area">
      <h3>Please contact us with any issues or questions you may have.</h3>
      <p>
        <a href="http://www.wearefine.com" target="_blank">wearefine.com</a><br>
        <a href="mailto:fae@wearefine.com">fae@wearefine.com</a><br>
        <a href="tel:15032433463">503.243.3463</a>
      </p>

      <h3>If you are reporting a bug, please include this helpful information:</h3>
      <p>Fae v<%= Fae::VERSION %></p>
      <p>
        <em>date:</em> <%= Time.now %><br>
        <em>site: </em> <%= request.url %><br>
        <em>env:</em> <%= Rails.env %><br>
        <em>browser:</em> <%= @browser.name %> <%= @browser.full_version %><br>
        <em>platform:</em> <%= @browser.platform %><br>
        <em>user:</em> <%= current_user.id %>
      </p>
    </div>
  </section>
</div>