<%= render 'fae/shared/index_header', title: "Welcome, #{current_user.full_name}", new_button: false %>

<div class="main_content-sections">
  <section class="main_content-section">
    <div class="main_content-section-area">
      <table class="index_table main_content-sortable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th class="main_table-header-modified">Latest Changes</th>
          </tr>
        </thead>

        <tbody>
          <% @list.each do |item| %>
            <tr id="release_<%= item.id %>">
              <td class="main_table-description-item"><%= link_to item.fae_display_field, edit_polymorphic_path([main_app, :admin, item]) %></td>
              <td><%= item.class.to_s %></td>
              <td><%= fae_date_format item.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>
