<%= simple_form_for(['admin', @item]) do |f| %>
  <section class="main_content-header">
    <div class="main_content-header-wrapper">
      <%= render 'fae/shared/form_header', header: @klass_name, f: f, item: @item %>
      <%# render 'fae/shared/form_nav', sections: [title, anchor] %>
    </div>
  </section>

  <div class="main_content-sections">
    <section class="main_content-section">
      <div class="content">
        <%= f.input :score %>
        <%= f.input :publication %>
        <%= fae_datepicker f, :publication_date %>
        <%= fae_file_form f, :pdf %>
        <%= fae_input f, :description, markdown: true %>
      </div>
    </section>
  </div>
<% end %>