<%= simple_form_for(['admin', @item]) do |f| %>
  <%= render 'fae/shared/form_header', header: @klass_name, f: f, hide_flash: true %>

  <section class="content">
    <%= fae_input f, :name %>

    <!-- Date Range Picker -->
    <%= fae_daterange f, [:start_date, :end_date], label: 'Display dates' %>

    <!-- NO SEARCH -->
    <%= fae_pulldown f, :event_type, collection: ['Birthday', 'Bar Mitzvah'], search: false %>

    <!-- Horizontal Checkboxes -->
    <%= fae_checkbox f, :people, type: "inline" %>

    <!-- Optgroup examples / Indented Pulldowns -->
    <% states = {'Califonia' => ['Los Angeles', 'San Francisco'], 'Oregon' => ['Portland', 'Boring']} %>
    <%#= fae_grouped_select f, :city, collection: states %>
    <%= fae_grouped_select f, :city, labels: states.keys , groups: states.values, required: true %>
  </section>
<% end %>
