<%= render 'fae/shared/index_header', title: "#{@klass_humanized.pluralize}" %>

<div class="main_content-sections">
  <section class="main_content-section">
    <div class="main_content-section-area">

      <div class="collapsible-toggle">Open All</div>

      <div class="collapsible">
        <%= content_tag(:h3, "#{@klass_humanized.pluralize} (#{@items.length})") %>
        <table class="index_table main_content-sortable">
          <thead>
            <tr>
              <th class="main_content-sortable-handle-col"></th>
              <th>Name</th>
              <th>Modified</th>
              <th>Extra Column</th>
              <th>Fourth Column</th>
              <th>Some number</th>
              <th class="main_table-header-delete" data-sorter="false">Delete</th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr id="<%= "#{@klass_singular}_#{item.id}" %>">
                <td class="main_content-sortable-handle">
                  <span class="icon-sort"></span>
                </td>
                <td class="main_table-description-item"><%= link_to item.fae_display_field, edit_admin_event_path(item) %></td>
                <td><%= fae_date_format item.updated_at %></td>
                <td>Extra cell</td>
                <td>Fourth cell</td>
                <td>###</td>
                <td class="main_table-delete">
                  <%= link_to ['admin', item], method: :delete, data: { confirm: t('fae.delete_confirmation') }, class: 'main_table-action' do %>
                    <span class="icon-delete_x"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="collapsible">
        <%= content_tag(:h3, "#{@klass_humanized.pluralize} (#{@items.length})") %>
        <table class="index_table main_content-sortable">
          <thead>
            <tr>
              <th class="main_content-sortable-handle-col"></th>
              <th>Name</th>
              <th>Modified</th>
              <th>Extra Column</th>
              <th>Fourth Column</th>
              <th>Some number</th>
              <th class="main_table-header-delete" data-sorter="false">Delete</th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr id="<%= "#{@klass_singular}_#{item.id}" %>">
                <td class="main_content-sortable-handle">
                  <span class="icon-sort"></span>
                </td>
                <td class="main_table-description-item"><%= link_to item.fae_display_field, edit_admin_event_path(item) %></td>
                <td><%= fae_date_format item.updated_at %></td>
                <td>Extra cell</td>
                <td>Fourth cell</td>
                <td>###</td>
                <td class="main_table-delete">
                  <%= link_to ['admin', item], method: :delete, data: { confirm: t('fae.delete_confirmation') }, class: 'main_table-action' do %>
                    <span class="icon-delete_x"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="collapsible">
        <%= content_tag(:h3, "#{@klass_humanized.pluralize} (#{@items.length})") %>
        <table class="index_table main_content-sortable">
          <thead>
            <tr>
              <th class="main_content-sortable-handle-col"></th>
              <th>Name</th>
              <th>Modified</th>
              <th>Extra Column</th>
              <th>Fourth Column</th>
              <th>Some number</th>
              <th class="main_table-header-delete" data-sorter="false">Delete</th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr id="<%= "#{@klass_singular}_#{item.id}" %>">
                <td class="main_content-sortable-handle">
                  <span class="icon-sort"></span>
                </td>
                <td class="main_table-description-item"><%= link_to item.fae_display_field, edit_admin_event_path(item) %></td>
                <td><%= fae_date_format item.updated_at %></td>
                <td>Extra cell</td>
                <td>Fourth cell</td>
                <td>###</td>
                <td class="main_table-delete">
                  <%= link_to ['admin', item], method: :delete, data: { confirm: t('fae.delete_confirmation') }, class: 'main_table-action' do %>
                    <span class="icon-delete_x"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="collapsible">
        <%= content_tag(:h3, "#{@klass_humanized.pluralize} (#{@items.length})") %>
        <table class="index_table main_content-sortable">
          <thead>
            <tr>
              <th class="main_content-sortable-handle-col"></th>
              <th>Name</th>
              <th>Modified</th>
              <th>Extra Column</th>
              <th>Fourth Column</th>
              <th>Some number</th>
              <th class="main_table-header-delete" data-sorter="false">Delete</th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr id="<%= "#{@klass_singular}_#{item.id}" %>">
                <td class="main_content-sortable-handle">
                  <span class="icon-sort"></span>
                </td>
                <td class="main_table-description-item"><%= link_to item.fae_display_field, edit_admin_event_path(item) %></td>
                <td><%= fae_date_format item.updated_at %></td>
                <td>Extra cell</td>
                <td>Fourth cell</td>
                <td>###</td>
                <td class="main_table-delete">
                  <%= link_to ['admin', item], method: :delete, data: { confirm: t('fae.delete_confirmation') }, class: 'main_table-action' do %>
                    <span class="icon-delete_x"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>