<%= render 'fae/shared/index_header', title: 'Events' %>

<div class="main_content-sections">
  <section class="main_content-section">
    <div class="main_content-section-area">
      <table class="index_table main_content-sortable">
        <thead>
          <tr>
            <th class="main_content-sortable-handle-col"></th>
            <th>Name</th>
            <th>Modified</th>
            <th data-sorter="false"></th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr id="release_<%= item.id %>">
              <td class="main_content-sortable-handle">
                <span class="icon-sort"></span>
              </td>
              <td class="main_table-description-item"><%= link_to item.name, edit_admin_event_path(item) %></td>
              <td><%= item.updated_at %></td>
              <td class="main_table-delete">
                <%= link_to ['admin', item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'main_table-action' do %>
                  <span class="icon-delete_x"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>