<%= render 'fae/shared/index_header', title: "#{@klass_humanized.pluralize}" %>

<div class="main_content-sections">
  <section class="main_content-section">
    <div class="content">

      <div class="collapsible-toggle">Open All</div>

      <div class="collapsible" id="first-table">
        <%= content_tag(:h3, "#{@klass_humanized.pluralize} (#{@items.length})") %>
        <table class="main_content-sortable">
          <thead>
            <tr>
              <th class="th-sortable-handle"></th>
              <th>Name</th>
              <th>Modified</th>
              <th>Extra Column</th>
              <th>Fourth Column</th>
              <th>Some number</th>
              <th class="-delete" data-sorter="false">Delete</th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr id="<%= "#{@klass_singular}_#{item.id}" %>">
                <td class="sortable-handle">
                  <span class="icon-sort"></span>
                </td>
                <td><%= link_to item.fae_display_field, edit_admin_event_path(item) %></td>
                <td><%= fae_date_format item.updated_at %></td>
                <td>Extra cell</td>
                <td>Fourth cell</td>
                <td>###</td>
                <td class="-delete"><%= fae_delete_button item %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="collapsible">
        <%= content_tag(:h3, "#{@klass_humanized.pluralize} (#{@items.length})") %>
        <table class="main_content-sortable">
          <thead>
            <tr>
              <th class="th-sortable-handle"></th>
              <th>Name</th>
              <th>Modified</th>
              <th>Extra Column</th>
              <th>Fourth Column</th>
              <th>Some number</th>
              <th class="-delete" data-sorter="false">Delete</th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr id="<%= "#{@klass_singular}_#{item.id}" %>">
                <td class="sortable-handle">
                  <span class="icon-sort"></span>
                </td>
                <td><%= link_to item.fae_display_field, edit_admin_event_path(item) %></td>
                <td><%= fae_date_format item.updated_at %></td>
                <td>Extra cell</td>
                <td>Fourth cell</td>
                <td>###</td>
                <td class="-delete"><%= fae_delete_button item %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>