<% require_locals ['item', 'f'], local_assigns %>

<%
  # passed in variables
  image_name   ||= :image
  the_image      = item.send(image_name)
  image_label  ||= image_name.to_s.humanize
  alt_label    ||= "#{image_label} alt text"
  omit         ||= [:caption]
  show_thumb   ||= false
  required     ||= false

%>

<%= f.simple_fields_for image_name do |i| %>
  <div class="field input">
    <label class=<%= "required" if required %>><%= "<abbr title='required'>*</abbr> ".html_safe if required %><%= image_label.html_safe %></label>

    <% if the_image.asset.present? %>
      <div class="asset-actions">
        <%= image_tag the_image.asset.url %>
        <%= link_to 'Original', the_image.asset.url, class: "js-image-modal asset-actions-image-link" %>
        <%= link_to 'Thumb', the_image.asset.thumb.url, class: "js-image-modal asset-actions-image-link" if show_thumb %>
        <%= link_to '', fae.delete_image_path(the_image.id), class: 'js-asset-delete-link icon-delete_x', remote: true, method: :delete, 'data-confirm' => 'Are you sure?' if the_image.id.present? %>
      </div>
    <% end %>

    <div class="asset-inputs" style="<%= "display:none;" if the_image.asset.present? %>">
      <%= i.input :asset, as: :file, label: false %>
      <%= i.input :asset_cache, as: :hidden %>
      <%= i.input :attached_as, as: :hidden, input_html: {value: image_name.to_s} %>
    </div>
  </div>

  <%= i.input :caption, label: "#{image_label} caption" unless omit.include?(:caption) %>
  <%= i.input :alt, label: alt_label.html_safe unless omit.include?(:alt) %>

<% end %>