<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>

  <%= tag :link, href: @option.favicon.asset_url, rel: 'shortcut icon' if @option.favicon.present? && @option.favicon.asset.present? %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5shiv" %>
  <%= javascript_include_tag "html5shiv-printshiv" %>
  <![endif]-->
  <%= stylesheet_link_tag    "fae/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "fae/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "header" %>
<section id="main_content">
  <%= render "nav" if user_signed_in? %>
  <%= yield %>
</section>
<div class="markdown-hint">
  <%= content_tag :div, markdown_helper, class: 'markdown-hint-wrapper' %>
</div>


</body>
</html>
