<%= simple_form_for(['admin', @item]) do |f| %>
  <section class="main_content-header">
    <div class="main_content-header-wrapper">
      <%= render 'fae/shared/form_header', header: @klass_name  %>
      <%# render 'fae/shared/form_nav', sections: [title, anchor] %>
      <%= render 'fae/shared/form_buttons', f: f, item: @item %>
    </div>
  </section>

  <div class="main_content-sections">
  <div class="main_content-section-area">

      <!-- Long Field with Helper Text -->
      <%= fae_input f, :name, {
        input_class: 'slugger',
        helper_text: 'Long Field with Helper Text',
        hint: "<h3>Markdown options</h3>"
      } %>


      <!-- Long Field -->
      <%= fae_input f, :slug, {
        helper_text: 'Long Field with Helper Text',
        input_class: 'custom_class',
        dark_hint: '<h3>Markdown Options</h3><br>
          Link | Internal: See my [About](/about/) page for details.<br>
          Link | External: This is [an example](http://example.com/ "Title") inline link.<br>
          List | Bullets: add an asterick with a space before the text, eg: * this will have bullets<br>
          List | Numbered: Numbers with a period and a space before the text, eg: 1. this will be item 1'
      } %>


      <!-- Input with icon on left -->
      <%= fae_prefix f, :price, helper_text: 'prefix field here!', prefix: '$' %>

      <!-- Input for video urls -->
      <%= fae_video_url f, :video_url, {
        input_class: 'slugger'
      } %>

      <!-- Large Pulldown -->
      <%= fae_pulldown f, :varietal %>


      <!-- Small Pulldown -->
      <%= fae_pulldown f, :wine, size: "short" %>

      <!-- fae_multiselect {two_pane: false} -->
      <%= fae_multiselect f, :acclaims, label_method: :publication %>

      <!-- Multiselect using two panels -->
      <%= fae_multiselect f, :selling_points, two_pane: true %>


      <!-- Radio Buttons Vertical Stack -->
      <%= fae_radio f, :on_stage %>


      <!-- Radio Buttons Horizontal Stack -->
      <%= fae_radio f, :on_prod, type: 'inline', input_class: 'something' %>


      <!-- Text Areas -->
      <%= fae_input f, :body, {
          label: 'Body Content',
          wrapper_class: 'release_body-text_area--wrapper',
          input_class: 'release_body-text_area',
          helper_text: 'Text Area wtih Hint Pop Up',
          hint: '<h3>Markdown Options</h3><br>
          Link | Internal: See my [About](/about/) page for details.<br>
          Link | External: This is [an example](http://example.com/ "Title") inline link.<br>
          List | Bullets: add an asterick with a space before the text, eg: * this will have bullets<br>
          List | Numbered: Numbers with a period and a space before the text, eg: 1. this will be item 1'
        } %>


      <!-- Checkboxes Vertical Stack -->
      <%= fae_checkbox f, :events %>
      <%#= f.association :events, as: :check_boxes, wrapper_html: { class: 'checkbox_collection--vertical' } %>

    </div>
  </div>
<% end %>