<%= render 'fae/shared/index_header', title: @klass_humanized.pluralize, csv: true %>

<div class="main_content-sections">
  <section class="main_content-section">
    <div class="main_content-section-area">

      <%= fae_filter_form do %>
        <%= fae_filter_select :wine %>
        <%= fae_filter_select :acclaims,
              label: 'Acclaim',
              collection: Acclaim.for_release_filter,
              label_method: :score,
              placeholder: 'Select some stuff' %>
        <%= fae_filter_select :test, options: [['one', 1], ['two', 2]] %>
      <% end %>

      <table class="index_table main_table-sort_columns">
        <thead>
          <tr>
            <th>Name</th>
            <th>Wine</th>
            <th class="sorter-mmddyy">Modified</th>
            <th>Slug</th>
            <th>Price</th>
            <th class="main_table-header-live" data-sorter="false">On Stage</th>
            <th class="main_table-header-live" data-sorter="false">On Prod</th>
            <th class="main_table-header-edit" data-sorter="false">Edit</th>
            <th class="main_table-header-delete" data-sorter="false">Delete</th>
          </tr>
        </thead>

        <tbody>
          <% if @items.present? %>
            <% @items.each do |item| %>
              <tr id="<%= "#{@klass_singular}_#{item.id}" %>">
                <td class="main_table-description-item"><%= link_to item.fae_display_field, edit_admin_release_path(item) %></td>
                <td><%= item.wine.name_en %></td>
                <td><%= fae_date_format item.updated_at %></td>
                <td><%= item.slug %></td>
                <td><%= item.price %></td>
                <td><%= fae_toggle item, :on_stage %></td>
                <td><%= fae_toggle item, :on_prod %></td>
                <td class="main_table-edit">
                  <%= link_to edit_admin_release_path(item), class: "main_table-action" do %>
                    <span class="icon-edit"></span>
                  <% end %>
                </td>
                <td class="main_table-delete">
                  <%= link_to ['admin', item], method: :delete, data: { confirm: t('fae.delete_confirmation') }, class: 'main_table-action' do %>
                    <span class="icon-delete_x"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="9">No items found</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>