<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5shiv" %>
  <%= javascript_include_tag "html5shiv-printshiv" %>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="login-body">

<%= yield %>

</body>
</html>