<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>

  <%= tag :link, href: @option.favicon.asset_url, rel: 'shortcut icon' if @option.favicon.present? && @option.favicon.asset.present? %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5shiv" %>
  <%= javascript_include_tag "html5shiv-printshiv" %>
  <![endif]-->
  <%= stylesheet_link_tag    "fae/application", media: "all" %>
  <%= javascript_include_tag "fae/application"  %>
  <%= csrf_meta_tags %>
</head>
<body class="login-body">

  <%= render 'flash_messages' %>

  <section class="login-content">
    <section class="login-area">
      <div class="login-logo">
        <% if @option.logo.present? && @option.logo.asset.present? %>
          <%= image_tag @option.logo.asset.url, alt: @option.title %>
        <% else %>
          <%= content_tag :h1, @option.title %>
        <% end %>
      </div>
      <%= yield %>

    </section>

    <footer class="login-footer">
      <%= link_to 'http://www.wearefine.com', class: 'login-fine', target: '_blank' do %>
        a <%= image_tag 'fae/fine_footer.png', alt: 'FINE logo' %> admin
      <% end %>
      <ul class="login-helper-area">
        <li><%= render "devise/shared/links" %></li>
        <li>Fae v<%= Fae::VERSION %></li>
      </ul>
    </footer>
  </section>

</body>
</html>