<section class="main_content-header">
  <div class="main_content-header-wrapper">
    <h1>Static Pages</h1>
  </div>
</section>

<%= render 'flash_messages' %>

<div class="main_content-sections">
  <section class="main_content-section">
    <div class="main_content-section-area">
      <table class="main_table-sort_columns index_table">
        <thead>
          <tr>
            <th>Name</th>
            <%= content_tag :th, 'Edit', class: 'main_table-header-edit', data: {sorter: false} if current_user.super_admin? %>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr id="fae_content_block_<%= item.id %>">
              <td class="main_table-description-item"><%= link_to item.title, main_app.admin_edit_content_block_path(item.slug) %></td>
              <td class="main_table-edit">
                <%= link_to fae.edit_static_page_path(item), class: "main_table-action" do %>
                  <span class="icon-edit"></span>
                <% end if current_user.super_admin?%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>